:host {
    .gridView {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .filter-btn {
        display: none;
    }
    
    @media screen and (max-width: 900px) {
        .filter-btn {
            display: block;
        }
    }
}