<tesla-header></tesla-header>
<section #sectionEle class="section-container" style="background-image: url('/assets/images/model-3.jpg');">
    <div class="title">Model 3</div>
    <div class="sub-text">
        <span>Starting at $32,740</span>
        <span>After Federal Tax Credit</span>
    </div>
</section>
<section #sectionEle class="section-container" style="background-image: url('/assets/images/model-y.jpg');">
    <div class="title">Model Y</div>
    <div class="sub-text">
        <span>Starting at $40,240</span>
        <span>After Federal Tax Credit</span>
    </div>
</section>
<section #sectionEle class="section-container" style="background-image: url('/assets/images/model-s.jpg');">
    <div class="title">Model S</div>
    <div class="sub-text">
        <span>Starting at $88,490</span>
        <span>After Federal Tax Credit</span>
    </div>
</section>
<section #sectionEle class="section-container" style="background-image: url('/assets/images/model-x.jpg');">
    <div class="title">Model X</div>
    <div class="sub-text">
        <span>Starting at $98,490</span>
        <span>After Federal Tax Credit</span>
    </div>
</section>